# Dashboard: Rug Sales KPI

**Expectation Suite Name**: `dash-rug_sales_kpi`

In [1]:
import datetime
import great_expectations as ge
import great_expectations.jupyter_ux
from great_expectations.checkpoint import LegacyCheckpoint
from great_expectations.data_context.types.resource_identifiers import ValidationResultIdentifier

context = ge.data_context.DataContext()

# Feel free to change the name of your suite here. Renaming this will not
# remove the other one.
expectation_suite_name = "dash-rug_sales_kpi"
suite = context.get_expectation_suite(expectation_suite_name)
suite.expectations = []

2021-06-24T11:53:39-0400 - INFO - Great Expectations logging enabled at 20 level by JupyterUX module.

In [2]:
# 1. dash_reproductions.rug_sales_aov_rpo_by_type
print('# 1. dash_reproductions.rug_sales_aov_rpo_by_type')
batch_kwargs_rug_sales_aov_rpo_by_type = {'data_asset_name': 'rug_sales_aov_rpo_by_type', 'datasource': 'ruggable', 'limit': 1000, 'schema': 'dash_reproductions', 'table': 'rug_sales_aov_rpo_by_type'}
batch_rug_sales_aov_rpo_by_type = context.get_batch(batch_kwargs_rug_sales_aov_rpo_by_type, suite)
batch_rug_sales_aov_rpo_by_type.head()

# 1. dash_reproductions.rug_sales_aov_rpo_by_type
2021-06-24T11:53:41-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:53:44-0400 - INFO - 	0 expectation(s) included in expectation_suite.

,created_date,order_type,orders,rugs_sold,net_sales,inserted_at
0,2021-04-17,round,213.0,337.0,76869.0,2021-06-09 23:48:27.243068
1,2021-04-25,plush,176.0,276.0,67803.0,2021-06-09 23:48:27.243068
2,2021-05-03,plush,115.0,188.0,43159.0,2021-06-09 23:48:27.243068
3,2021-05-11,outdoor,361.0,451.0,102847.0,2021-06-09 23:48:27.243068
4,2021-05-19,outdoor,250.0,398.0,92926.0,2021-06-09 23:48:27.243068

In [3]:
# 2. dash_reproductions.rug_sales_aov_rpo_total
print('# 2. dash_reproductions.rug_sales_aov_rpo_total')
batch_kwargs_rug_sales_aov_rpo_total = {'data_asset_name': 'rug_sales_aov_rpo_total', 'datasource': 'ruggable', 'limit': 1000, 'schema': 'dash_reproductions', 'table': 'rug_sales_aov_rpo_total'}
batch_rug_sales_aov_rpo_total = context.get_batch(batch_kwargs_rug_sales_aov_rpo_total, suite)
batch_rug_sales_aov_rpo_total.head()

# 2. dash_reproductions.rug_sales_aov_rpo_total
2021-06-24T11:53:44-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:53:47-0400 - INFO - 	0 expectation(s) included in expectation_suite.

,created_date,order_type,orders,rugs_sold,net_sales,inserted_at
0,2021-04-26,cushioned,836.0,1182.0,249830.0,2021-06-09 23:48:32.168828
1,2021-05-18,cushioned,816.0,1157.0,255392.0,2021-06-09 23:48:32.168828
2,2021-06-01,total_rug,7073.0,8990.0,1878914.0,2021-06-09 23:48:32.168828
3,2021-05-29,indoor,6457.0,8531.0,1883442.0,2021-06-09 23:48:32.168828
4,2021-04-14,cushioned,758.0,1055.0,226593.0,2021-06-09 23:48:32.168828

In [4]:
# 3. dash_reproductions.rug_sales_daily_sales
print('# 3. dash_reproductions.rug_sales_daily_sales')
batch_kwargs_rug_sales_daily_sales = {'data_asset_name': 'rug_sales_daily_sales', 'datasource': 'ruggable', 'limit': 1000, 'schema': 'dash_reproductions', 'table': 'rug_sales_daily_sales'}
batch_rug_sales_daily_sales = context.get_batch(batch_kwargs_rug_sales_daily_sales, suite)
batch_rug_sales_daily_sales.head()

# 3. dash_reproductions.rug_sales_daily_sales
2021-06-24T11:53:47-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:53:50-0400 - INFO - 	0 expectation(s) included in expectation_suite.

,created_date,country,repeat_customer,product_type,function,shape,texture,size,rug_pad_type,product_sub_type,rugs,net_sales,inserted_at
0,2021-06-09,US,True,Rug,Indoor,Rectangle,Chenille,8x10,,Cover,32,2762.50,2021-06-10 00:11:12.088939
1,2021-06-09,US,True,Rug,NUL,Round,Rubber pad,"8"" Round",Classic Rug Pad,Pad,1,109.65,2021-06-10 00:11:12.088939
2,2021-06-09,CA,True,Rug,Indoor,Rectangle,Chenille,6x9,Cushioned Rug Pad,Cushioned System,5,1610.75,2021-06-10 00:11:12.088939
3,2021-06-09,US,True,Rug,Indoor,Rectangle,Chenille,5x7,Cushioned Rug Pad,Cushioned System,19,4479.65,2021-06-10 00:11:12.088939
4,2021-06-09,CA,True,Rug,Indoor,Rectangle,Chenille,6x9,,Cover,2,153.00,2021-06-10 00:11:12.088939

In [5]:
# 4. dash_reproductions.rug_sales_fb
print('# 4. dash_reproductions.rug_sales_fb')
batch_kwargs_rug_sales_fb = {'data_asset_name': 'rug_sales_fb', 'datasource': 'ruggable', 'limit': 1000, 'schema': 'dash_reproductions', 'table': 'rug_sales_fb'}
batch_rug_sales_fb = context.get_batch(batch_kwargs_rug_sales_fb, suite)
batch_rug_sales_fb.head()

# 4. dash_reproductions.rug_sales_fb
2021-06-24T11:53:50-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:53:52-0400 - INFO - 	0 expectation(s) included in expectation_suite.

,date,campaign,spend,impressions,clicks,conversions,inserted_at
0,2021-04-17,doormat,6085.0,559443.0,3572.0,26.0,2021-06-09 23:48:29.803627
1,2021-05-01,other,148754.0,12089172.0,99860.0,678.0,2021-06-09 23:48:29.803627
2,2021-05-13,other,141202.0,12006731.0,94071.0,368.0,2021-06-09 23:48:29.803627
3,2021-05-22,outdoor,7081.0,472896.0,3092.0,20.0,2021-06-09 23:48:29.803627
4,2021-05-31,outdoor,6750.0,628030.0,1929.0,19.0,2021-06-09 23:48:29.803627

In [6]:
# 5. dash_reproductions.rug_sales_uk_aov_rpo_by_type
print('# 5. dash_reproductions.rug_sales_uk_aov_rpo_by_type')
batch_kwargs_rug_sales_uk_aov_rpo_by_type = {'data_asset_name': 'rug_sales_uk_aov_rpo_by_type', 'datasource': 'ruggable', 'limit': 1000, 'schema': 'dash_reproductions', 'table': 'rug_sales_uk_aov_rpo_by_type'}
batch_rug_sales_uk_aov_rpo_by_type = context.get_batch(batch_kwargs_rug_sales_uk_aov_rpo_by_type, suite)
batch_rug_sales_uk_aov_rpo_by_type.head()

# 5. dash_reproductions.rug_sales_uk_aov_rpo_by_type
2021-06-24T11:53:52-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:53:57-0400 - INFO - 	0 expectation(s) included in expectation_suite.

,created_date,order_type,orders,rugs_sold,net_sales,inserted_at
0,2021-04-23,chenille,25.0,33.0,8365.0,2021-06-10 19:00:22.186788
1,2021-05-07,round,4.0,5.0,2003.0,2021-06-10 19:00:22.186788
2,2021-05-18,round,2.0,2.0,331.0,2021-06-10 19:00:22.186788
3,2021-05-28,chenille,157.0,179.0,46911.0,2021-06-10 19:00:22.186788
4,2021-06-06,round,2.0,2.0,696.0,2021-06-10 19:00:22.186788

In [7]:
# 6. dash_reproductions.rug_sales_uk_aov_rpo_total
print('# 6. dash_reproductions.rug_sales_uk_aov_rpo_total')
batch_kwargs_rug_sales_uk_aov_rpo_total = {'data_asset_name': 'rug_sales_uk_aov_rpo_total', 'datasource': 'ruggable', 'limit': 1000, 'schema': 'dash_reproductions', 'table': 'rug_sales_uk_aov_rpo_total'}
batch_rug_sales_uk_aov_rpo_total = context.get_batch(batch_kwargs_rug_sales_uk_aov_rpo_total, suite)
batch_rug_sales_uk_aov_rpo_total.head()

# 6. dash_reproductions.rug_sales_uk_aov_rpo_total
2021-06-24T11:53:57-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:54:00-0400 - INFO - 	0 expectation(s) included in expectation_suite.

,created_date,order_type,orders,rugs_sold,net_sales,inserted_at
0,2021-04-23,indoor,26.0,34.0,8848.0,2021-06-10 19:01:42.077909
1,2021-05-05,indoor,69.0,79.0,18816.0,2021-06-10 19:01:42.077909
2,2021-05-17,indoor,78.0,96.0,27815.0,2021-06-10 19:01:42.077909
3,2021-05-29,indoor,150.0,169.0,43051.0,2021-06-10 19:01:42.077909
4,2021-06-10,indoor,56.0,66.0,18803.0,2021-06-10 19:01:42.077909

In [8]:
# 7. dash_reproduction.rug_sales_uk_fb
print('# 7. dash_reproduction.rug_sales_uk_fb')
batch_kwargs_rug_sales_uk_fb = {'data_asset_name': 'rug_sales_uk_fb', 'datasource': 'ruggable', 'limit': 1000, 'schema': 'dash_reproductions', 'table': 'rug_sales_uk_fb'}
batch_rug_sales_uk_aov_rpo_total = context.get_batch(batch_kwargs_rug_sales_uk_aov_rpo_total, suite)
batch_rug_sales_uk_aov_rpo_total.head()

# 7. dash_reproduction.rug_sales_uk_fb
2021-06-24T11:54:00-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:54:06-0400 - INFO - 	0 expectation(s) included in expectation_suite.

,created_date,order_type,orders,rugs_sold,net_sales,inserted_at
0,2021-04-21,classic,1.0,1.0,444.0,2021-06-10 19:01:42.077909
1,2021-05-03,classic,110.0,118.0,31963.0,2021-06-10 19:01:42.077909
2,2021-05-15,classic,110.0,122.0,33632.0,2021-06-10 19:01:42.077909
3,2021-05-27,classic,75.0,100.0,25196.0,2021-06-10 19:01:42.077909
4,2021-06-08,classic,51.0,55.0,16260.0,2021-06-10 19:01:42.077909

In [9]:
# 8. dash_reproduction.rug_sales_uk_weekly_sales
print('# 8. dash_reproduction.rug_sales_uk_weekly_sales')
batch_kwargs_rug_sales_uk_weekly_sales = {'data_asset_name': 'rug_sales_uk_weekly_sales', 'datasource': 'ruggable', 'limit': 1000, 'schema': 'dash_reproductions', 'table': 'rug_sales_uk_weekly_sales'}
batch_rug_sales_uk_weekly_sales = context.get_batch(batch_kwargs_rug_sales_uk_weekly_sales, suite)
batch_rug_sales_uk_weekly_sales.head()

# 8. dash_reproduction.rug_sales_uk_weekly_sales
2021-06-24T11:54:06-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:54:15-0400 - INFO - 	0 expectation(s) included in expectation_suite.

,week,repeat_customer,country,product_type,function,shape,texture,size,rug_pad_type,product_sub_type,rugs,net_sales,inserted_at
0,2021-05-31,True,GB,Rug,NUL,Rectangle,Rubber pad,5x7,Classic Rug Pad,Pad,1.0,106.0,2021-06-10 00:21:36.683974
1,2021-05-31,True,GB,Rug,Indoor,Round,Chenille,"6"" Round",Classic Rug Pad,Classic System,3.0,771.0,2021-06-10 00:21:36.683974
2,2021-05-24,False,GB,Rug,Outdoor,Rectangle,Chenille,5x7,Classic Rug Pad,Classic System,7.0,1777.0,2021-06-10 00:21:36.683974
3,2021-05-17,False,GB,Rug,Outdoor,Rectangle,Chenille,6x9,Classic Rug Pad,Classic System,1.0,412.0,2021-06-10 00:21:36.683974
4,2021-05-10,False,GB,Rug,Outdoor,Rectangle,Chenille,2.5x7,Classic Rug Pad,Classic System,3.0,503.0,2021-06-10 00:21:36.683974

In [10]:
# 9. dash_reproduction.rug_sales_weekly_sales
print('# 2. dash_reproductions.rug_sales_weekly_sales')
batch_kwargs_rug_sales_weekly_sales = {'data_asset_name': 'rug_sales_weekly_sales', 'datasource': 'ruggable', 'limit': 1000, 'schema': 'dash_reproductions', 'table': 'rug_sales_weekly_sales'}
batch_rug_sales_weekly_sales = context.get_batch(batch_kwargs_rug_sales_weekly_sales, suite)
batch_rug_sales_weekly_sales.head()

# 2. dash_reproductions.rug_sales_weekly_sales
2021-06-24T11:54:15-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:54:27-0400 - INFO - 	0 expectation(s) included in expectation_suite.

,week,repeat_customer,country,product_type,function,shape,texture,size,rug_pad_type,product_sub_type,rugs,net_sales,inserted_at
0,2021-06-07,True,US,Rug,Indoor,Rectangle,Plush,6x9,Classic Rug Pad,Classic System,34.0,11567.0,2021-06-09 23:48:25.606444
1,2021-06-07,False,US,Rug,Outdoor,Rectangle,Jute,2.5x7,Classic Rug Pad,Classic System,25.0,4880.0,2021-06-09 23:48:25.606444
2,2021-06-07,True,US,Rug,Indoor,Rectangle,Plush,2.5x10,Classic Rug Pad,Classic System,5.0,1180.0,2021-06-09 23:48:25.606444
3,2021-06-07,True,US,Rug,Indoor,Round,Chenille,"8"" Round",Cushioned Rug Pad,Cushioned System,8.0,2676.0,2021-06-09 23:48:25.606444
4,2021-06-07,False,US,Rug,Outdoor,Rectangle,Jute,5x7,Cushioned Rug Pad,Cushioned System,6.0,2010.0,2021-06-09 23:48:25.606444

In [11]:
## inserted_at

In [12]:
# 1
batch_rug_sales_aov_rpo_by_type.expect_column_values_to_be_between(column='inserted_at', max_value='2021-06-25', min_value='2021-04-09', parse_strings_as_datetimes=True)

{
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [13]:
# 2
batch_rug_sales_aov_rpo_total.expect_column_values_to_be_between(column='inserted_at', max_value='2021-06-25', min_value='2021-04-09', parse_strings_as_datetimes=True)

{
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [14]:
# 3
batch_rug_sales_daily_sales.expect_column_values_to_be_between(column='inserted_at', max_value='2021-06-25', min_value='2021-04-09', parse_strings_as_datetimes=True)

{
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [15]:
# 4
batch_rug_sales_fb.expect_column_values_to_be_between(column='inserted_at', max_value='2021-06-25', min_value='2021-04-09', parse_strings_as_datetimes=True)

{
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [16]:
# 5
batch_rug_sales_uk_aov_rpo_by_type.expect_column_values_to_be_between(column='inserted_at', max_value='2021-06-25', min_value='2021-04-09', parse_strings_as_datetimes=True)

{
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [17]:
# 6
batch_rug_sales_uk_aov_rpo_total.expect_column_values_to_be_between(column='inserted_at', max_value='2021-06-25', min_value='2021-04-09', parse_strings_as_datetimes=True)

{
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [18]:
# 7
batch_rug_sales_uk_aov_rpo_total.expect_column_values_to_be_between(column='inserted_at', max_value='2021-06-25', min_value='2021-04-09', parse_strings_as_datetimes=True)

{
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [19]:
# 8
batch_rug_sales_uk_weekly_sales.expect_column_values_to_be_between(column='inserted_at', max_value='2021-06-25', min_value='2021-04-09', parse_strings_as_datetimes=True)

{
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [20]:
# 9
batch_rug_sales_weekly_sales.expect_column_values_to_be_between(column='inserted_at', max_value='2021-06-25', min_value='2021-04-09', parse_strings_as_datetimes=True)

{
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

## Create & Edit Expectations

Add expectations by calling specific expectation methods on the `batch` object. They all begin with `.expect_` which makes autocompleting easy using tab.

You can see all the available expectations in the **[expectation glossary](https://docs.greatexpectations.io/en/latest/reference/glossary_of_expectations.html?utm_source=notebook&utm_medium=create_expectations)**.

### Table Expectation(s)

No table level expectations are in this suite. Feel free to add some here. They all begin with `batch.expect_table_...`.

## Save & Review

Let's save the expectation suite as a JSON file in the `great_expectations/expectations` directory of your project.
If you decide not to save some expectations that you created, use [remove_expectation method](https://docs.greatexpectations.io/en/latest/autoapi/great_expectations/data_asset/index.html?highlight=remove_expectation&utm_source=notebook&utm_medium=edit_expectations#great_expectations.data_asset.DataAsset.remove_expectation).

In [21]:
# 1
batch_rug_sales_aov_rpo_by_type.save_expectation_suite(discard_failed_expectations=False)
# 2
batch_rug_sales_aov_rpo_by_type.save_expectation_suite(discard_failed_expectations=False)
# 3
batch_rug_sales_daily_sales.save_expectation_suite(discard_failed_expectations=False)
# 4
batch_rug_sales_fb.save_expectation_suite(discard_failed_expectations=False)
# 5
batch_rug_sales_uk_aov_rpo_by_type.save_expectation_suite(discard_failed_expectations=False)
# 6
batch_rug_sales_uk_aov_rpo_total.save_expectation_suite(discard_failed_expectations=False)
# 7
batch_rug_sales_uk_aov_rpo_total.save_expectation_suite(discard_failed_expectations=False)
# 8
batch_rug_sales_aov_rpo_by_type.save_expectation_suite(discard_failed_expectations=False)
# 9
batch_rug_sales_weekly_sales.save_expectation_suite(discard_failed_expectations=False)

2021-06-24T11:54:35-0400 - INFO - 	1 expectation(s) included in expectation_suite. result_format settings filtered.
2021-06-24T11:54:35-0400 - INFO - 	1 expectation(s) included in expectation_suite. result_format settings filtered.
2021-06-24T11:54:35-0400 - INFO - 	1 expectation(s) included in expectation_suite. result_format settings filtered.
2021-06-24T11:54:35-0400 - INFO - 	1 expectation(s) included in expectation_suite. result_format settings filtered.
2021-06-24T11:54:35-0400 - INFO - 	1 expectation(s) included in expectation_suite. result_format settings filtered.
2021-06-24T11:54:35-0400 - INFO - 	1 expectation(s) included in expectation_suite. result_format settings filtered.
2021-06-24T11:54:35-0400 - INFO - 	1 expectation(s) included in expectation_suite. result_format settings filtered.
2021-06-24T11:54:35-0400 - INFO - 	1 expectation(s) included in expectation_suite. result_format settings filtered.
2021-06-24T11:54:35-0400 - INFO - 	1 expectation(s) included in expectation_suite. result_format settings filtered.

In [22]:
results = LegacyCheckpoint(
    name="_temp_checkpoint",
    data_context=context,
    batches=[
        {
          "batch_kwargs": batch_kwargs_rug_sales_aov_rpo_by_type,
          "expectation_suite_names": [expectation_suite_name]
        },
        {
          "batch_kwargs": batch_kwargs_rug_sales_aov_rpo_total,
          "expectation_suite_names": [expectation_suite_name]
        },
        {
          "batch_kwargs": batch_kwargs_rug_sales_daily_sales,
          "expectation_suite_names": [expectation_suite_name]
        },
        {
          "batch_kwargs": batch_kwargs_rug_sales_fb,
          "expectation_suite_names": [expectation_suite_name]
        },
        {
          "batch_kwargs": batch_kwargs_rug_sales_uk_aov_rpo_by_type,
          "expectation_suite_names": [expectation_suite_name]
        },
        {
          "batch_kwargs": batch_kwargs_rug_sales_uk_aov_rpo_total,
          "expectation_suite_names": [expectation_suite_name]
        },
        {
          "batch_kwargs": batch_kwargs_rug_sales_uk_fb,
          "expectation_suite_names": [expectation_suite_name]
        },
        {
          "batch_kwargs": batch_kwargs_rug_sales_uk_weekly_sales,
          "expectation_suite_names": [expectation_suite_name]
        },{
          "batch_kwargs": batch_kwargs_rug_sales_weekly_sales,
          "expectation_suite_names": [expectation_suite_name]
        }
    ]
).run()
# look into these functions for data doc creation
validation_result_identifier = results.list_validation_result_identifiers()[0]
context.build_data_docs()
context.open_data_docs(validation_result_identifier)

2021-06-24T11:54:35-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:54:36-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:54:38-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:54:39-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:54:40-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:54:42-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:54:43-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:54:55-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:54:58-0400 - INFO - Generating query from table batch_kwargs based on limit and offset
2021-06-24T11:55:00-0400 - INFO - Setting run_name to: 20210624T155500.257468Z
2021-06-24T11:55:00-0400 - INFO - 	1 expectation(s) included in expectation_suite.
2021-06-24T11:55:01-0400 - INFO - 	1 expectation(s) included in expectation_suite.
2021-06-24T11:55:02-0400 - INFO - 	1 expectation(s) included in expectation_suite.
2021-06-24T11:55:04-0400 - INFO - 	1 expectation(s) included in expectation_suite.
2021-06-24T11:55:05-0400 - INFO - 	1 expectation(s) included in expectation_suite.
2021-06-24T11:55:06-0400 - INFO - 	1 expectation(s) included in expectation_suite.
2021-06-24T11:55:07-0400 - INFO - 	1 expectation(s) included in expectation_suite.
2021-06-24T11:55:08-0400 - INFO - 	1 expectation(s) included in expectation_suite.
2021-06-24T11:55:10-0400 - INFO - 	1 expectation(s) included in expectation_suite.